<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gantix.JailMonkey">
  <queries>
    <package android:name="catch_.me_.if_.you_.can_" />
    <package android:name="cc.madkite.freedom" />
    <package android:name="com.alephzain.framaroot" />
    <package android:name="com.allinone.free" />
    <package android:name="com.amphoras.hidemyroot" />
    <package android:name="com.amphoras.hidemyrootadfree" />
    <package android:name="com.android.camera.update" />
    <package android:name="com.android.vending.billing.InAppBillingService.COIN" />
    <package android:name="com.android.vending.billing.InAppBillingService.LUCK" />
    <package android:name="com.android.wp.net.log" />
    <package android:name="com.baseappfull.fwd" />
    <package android:name="com.blackmartalpha" />
    <package android:name="com.charles.lpoqasert" />
    <package android:name="com.chelpus.lackypatch" />
    <package android:name="com.chelpus.luckypatcher" />
    <package android:name="com.cih.game_cih" />
    <package android:name="com.devadvance.rootcloak" />
    <package android:name="com.devadvance.rootcloakplus" />
    <package android:name="com.dimonvideo.luckypatcher" />
    <package android:name="com.dv.marketmod.installer" />
    <package android:name="com.formyhm.hideroot" />
    <package android:name="com.formyhm.hiderootPremium" />
    <package android:name="com.kingo.root" />
    <package android:name="com.kingouser.com" />
    <package android:name="com.kingroot.kinguser" />
    <package android:name="com.koushikdutta.rommanager" />
    <package android:name="com.koushikdutta.rommanager.license" />
    <package android:name="com.koushikdutta.superuser" />
    <package android:name="com.noshufou.android.su" />
    <package android:name="com.noshufou.android.su.elite" />
    <package android:name="com.ramdroid.appquarantine" />
    <package android:name="com.ramdroid.appquarantinepro" />
    <package android:name="com.repodroid.app" />
    <package android:name="com.saurik.substrate" />
    <package android:name="com.smedialink.oneclickroot" />
    <package android:name="com.solohsu.android.edxp.manager" />
    <package android:name="com.thirdparty.superuser" />
    <package android:name="com.topjohnwu.magisk" />
    <package android:name="com.xmodgame" />
    <package android:name="com.yellowes.su" />
    <package android:name="com.zachspong.temprootremovejb" />
    <package android:name="com.zhiqupk.root.global" />
    <package android:name="com.zmapp" />
    <package android:name="de.robv.android.xposed" />
    <package android:name="de.robv.android.xposed.installer" />
    <package android:name="eu.chainfire.supersu" />
    <package android:name="eu.chainfire.supersu.pro" />
    <package android:name="me.phh.superuser" />
    <package android:name="org.blackmart.market" />
    <package android:name="org.creeplays.hack" />
    <package android:name="org.meowcat.edxposed.manager" />
    <package android:name="org.mobilism.android" />
  </queries>
</manifest>
